Repository AlexWayfer/icomoon_toys: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby:latest
  lint_script: toys rubocop --format=json --out=rubocop.json
  always:
  ...

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - rubocop
  container:
    matrix:
      image: ruby:2.7
  environment:
  ...

Fix an issue with duplicate keys in Cirrus CI config
  .cirrus.yaml
Due: remark, rubocop, rspec

Drop `rspec` and `rubocop` toys, just use `bundle exec`
  .cirrus.yaml
  .toys.rb
Due: remark, rubocop, rspec

Run RuboCop CI task on Ruby 2.7 instead of latest
  .cirrus.yaml
Due: remark, rubocop, rspec

Allow Ruby 3 in gem specs
  icomoon_toys.gemspec
Due: rubocop, rspec

Add Ruby 3.0 for CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Revert "Run RuboCop CI task on Ruby 2.7 instead of latest"
  .cirrus.yaml
Due: remark, rubocop, rspec

Update `toys` with `toys-core`
  icomoon_toys.gemspec
Due: rubocop, rspec

Add Ruby 3.1 for CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Update metadata in gemspec
  icomoon_toys.gemspec
Due: rubocop, rspec

Avoid Ruby 4 in gem specs
  icomoon_toys.gemspec
Due: rubocop, rspec

Update `toys` and `toys-core`
  icomoon_toys.gemspec
Due: rubocop, rspec

Drop Ruby 2.5 support
  .cirrus.yaml
  .rubocop.yml
  icomoon_toys.gemspec
Due: remark, rubocop, rspec

Update version to 0.3.0
  CHANGELOG.md
  lib/icomoon_toys/version.rb
Due: remark, rubocop, rspec

Allow exclude files from extraction by `nil` path
  lib/icomoon_toys/template.rb
Due: rubocop, rspec

Add documentation about `nil` paths to README
  README.md
Due: remark

Update version to 0.4.0
  CHANGELOG.md
  lib/icomoon_toys/version.rb
Due: remark, rubocop, rspec

Rename `master` git branch to `main`
  .cirrus.yaml
  README.md
Due: remark, rubocop, rspec

Update License badge
  README.md
Due: remark

Update `toys-core`
  icomoon_toys.gemspec
Due: rubocop, rspec

Replace `codecov` Ruby uploader with shell one
  .cirrus.yaml
  icomoon_toys.gemspec
  spec/spec_helper.rb
Due: remark, rubocop, rspec

Disable JSON output of RSpec in CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Add Ruby 3.2 to CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Remove dependencies of CI tasks because of different `only_if`
  .cirrus.yaml
Due: remark, rubocop, rspec

Update version to 0.5.0
  CHANGELOG.md
  lib/icomoon_toys/version.rb
Due: remark, rubocop, rspec

Lock `rubocop` and `rubocop-rspec` versions stricter
  icomoon_toys.gemspec
Due: rubocop, rspec

Move development dependencies from gemspec into Gemfile
  Gemfile
  icomoon_toys.gemspec
Due: rubocop, rspec

Drop Ruby 2.6 support
  .cirrus.yaml
  .rubocop.yml
  icomoon_toys.gemspec
Due: remark, rubocop, rspec

Update all toys dependencies
  Gemfile
  icomoon_toys.gemspec
Due: rubocop, rspec

Update version to 0.6.0
  CHANGELOG.md
  lib/icomoon_toys/version.rb
Due: remark, rubocop, rspec

Drop Ruby 2.7 support
  .cirrus.yaml
  .rubocop.yml
  icomoon_toys.gemspec
Due: remark, rubocop, rspec

Add empty lines for CI config
  .cirrus.yaml
Due: remark, rubocop, rspec

Remove artifacts for Cirrus CI RuboCop
  .cirrus.yaml
Due: remark, rubocop, rspec

Add Ruby 3.3 for CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Path conditions:
  remark: any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md
  rubocop: any of: .cirrus.yaml, .gitignore, Gemfile, .toys.rb, .rubocop.yml, *.gemspec, **.rb, **.ru
  rspec: any of: .cirrus.yaml, .gitignore, Gemfile, .toys.rb, .rspec, *.gemspec, lib/**, spec/**
