Repository AlexWayfer/icomoon_toys: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby:latest
  lint_script: toys rubocop --format=json --out=rubocop.json
  always:
  ...

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - rubocop
  container:
    matrix:
      image: ruby:2.7
  environment:
  ...

Configure Renovate
  renovate.json
Due: none

Add Ruby 3.4 for CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Update `toys-core` in `.gemspec`
  icomoon_toys.gemspec
Due: rubocop, rspec

Resolve RuboCop warning about `plugins:` instead of `require:`
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offenses about `spec.add_runtime_dependency`
  icomoon_toys.gemspec
Due: rubocop, rspec

Update runtime dependency `toys-core`
  icomoon_toys.gemspec
Due: rubocop, rspec

Update development dependency `gem_toys`
  Gemfile
Due: rubocop, rspec

Fail `remark` on any warning
  package.json
Due: remark

Change option for `remark-lint-list-item-indent` after major update
  .remarkrc.yaml
Due: remark

Improve updating system gems in CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Resolve new `bundle update` deprecation warning in CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  icomoon_toys.gemspec
Due: remark, rubocop, rspec

Add `bundle-audit` CI task
  .cirrus.yaml
  Gemfile
Due: remark, rubocop, rspec

Update `gem_toys` and `toys` dependencies
  Gemfile
  icomoon_toys.gemspec
Due: rubocop, rspec

Update `alt_memery` runtime dependency
  icomoon_toys.gemspec
Due: rubocop, rspec

Update RuboCop and its plugins
  Gemfile
Due: rubocop, rspec

Update `rubyzip` runtime dependency
  icomoon_toys.gemspec
Due: rubocop, rspec

Add Ruby 4.0 support
  .cirrus.yaml
  icomoon_toys.gemspec
Due: remark, rubocop, rspec

Update version to 1.0.0
  CHANGELOG.md
  lib/icomoon_toys/version.rb
Due: remark, rubocop, rspec

Path conditions:
  remark: any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md
  rubocop: any of: .cirrus.yaml, .gitignore, Gemfile, .toys.rb, .rubocop.yml, *.gemspec, **.rb, **.ru
  rspec: any of: .cirrus.yaml, .gitignore, Gemfile, .toys.rb, .rspec, *.gemspec, lib/**, spec/**
